body {
    background: #EFEFEF;
    color: #111;
    font-family: 'Courier New', Courier, monospace;
}
button {
    width: 7em;
    height: 2em;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 2em;
}

#stopwatch {
    font-size: 11em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding: 3em;
}
#buttons {
    position: absolute;
    
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);

}
#buttons li {
    display: inline;
    padding-left: 10px;
}